/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    combos {
        compatible = "zmk,combos";

        tabkey {
            bindings = <&kp TAB>;
            key-positions = <38 37>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Default Layer";

            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BSPC |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&trans      &mt Z J         &mt Q G         &kp M        &kp P          &kp V      &mt AT_SIGN HASH     &mt COLON PERIOD  &mt ASTERISK SLASH  &mt EXCLAMATION DOUBLE_QUOTES  &mt QUESTION SQT  &trans
&kp ESCAPE  &mt LEFT_GUI C  &mt LEFT_ALT S  &mt LCTRL N  &mt LSHIFT T   &kp K      &mt SEMICOLON COMMA  &mt RSHIFT A      &mt RCTRL E         &mt RIGHT_ALT I                &mt RIGHT_GUI H   &trans
&trans      &kp X           &kp F           &kp L        &kp D          &kp W      &mt PLUS MINUS       &kp U             &kp O               &kp Y                          &kp B             &trans
                                            &kp DELETE   &kp BACKSPACE  &lt 1 R    &lt 1 SPACE          &kp ENTER         &trans
            >;
        };

        num_nav {
            display-name = "num nav";

            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BSPC |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&trans  &trans           &kp NUMBER_4           &kp N5              &kp NUMBER_6             &kp LEFT_BRACE          &kp RIGHT_BRACE        &kp N7                      &kp N8              &kp N9                    &kp N0               &trans
&trans  &mt LEFT_GUI N0  &mt LEFT_ALT NUMBER_1  &mt LCTRL NUMBER_2  &mt LEFT_SHIFT NUMBER_3  &kp LEFT_PARENTHESIS    &kp RIGHT_PARENTHESIS  &mt RIGHT_SHIFT LEFT_ARROW  &mt RCTRL UP_ARROW  &mt RIGHT_ALT DOWN_ARROW  &mt RIGHT_GUI RIGHT  &trans
&trans  &kp PERIOD       &kp N7                 &kp N8              &kp N9                   &kp LEFT_BRACKET        &kp RIGHT_BRACKET      &kp HOME                    &kp PG_UP           &kp PAGE_DOWN             &kp END              &trans
                                                &trans              &trans                   &trans                  &trans                 &trans                      &trans
            >;
        };

        raise_layer {
            display-name = "Raise Layer";

            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BSPC |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&kp TAB    &kp EXCL  &kp AT  &kp HASH  &kp DLLR  &kp PRCNT    &kp CARET  &kp AMPS   &kp ASTRK  &kp LPAR  &kp RPAR  &kp BSPC
&kp LCTRL  &trans    &trans  &trans    &trans    &trans       &kp MINUS  &kp EQUAL  &kp LBKT   &kp RBKT  &kp BSLH  &kp GRAVE
&kp LSHFT  &trans    &trans  &trans    &trans    &trans       &kp UNDER  &kp PLUS   &kp LBRC   &kp RBRC  &kp PIPE  &kp TILDE
                             &kp LGUI  &trans    &kp SPACE    &kp RET    &trans     &kp RALT
            >;
        };
    };
};
